@model WellnessWaveHealth.Models.EnquiryModel
@{
    ViewBag.Title = "Enquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" enquiry-container">
    <img src="~/Images/enquiry2.jpg" height="500"/>
    
</div>

